<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        <div>
          {% if site.twitter_username %}
            <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}
          &nbsp;
          <a href="http://www.instagram.com/stollener_" target="_blank"><i class="fa fa-instagram"></i></a>
          &nbsp;
          {% if site.github_username %}
            <a href="http://github.com/{{ site.github_username }}" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          {% endif %}
          &nbsp;
          <a href="/feed.xml" target="_blank"><i class="fa fa-rss-square"></i></a>
        </div>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.<br>
      </span>
    </footer>
  </body>
</html>
